<!--<div class="sidebar p-left-0">
    <ul class="nav nav-sidebar">
        <li>
            <a routerLink="/resident/list" routerLinkActive="active">Residents</a>
        </li>
        <li>
            <a href="#">Apartments</a>
        </li>
    </ul>
</div>-->


<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
    <ul class="nav flex-column">
        <li class="nav-item" *ngFor="let navItem of nav">
            <a class="nav-link" [routerLink]="navItem.link" 
            routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact: navItem.exact}">
                {{navItem.name}}
                </a>
        </li>
    </ul>
</nav>