<kendo-grid [data]="residentList">
    <kendo-grid-column field="firstName" title="First Name" width="120">
    </kendo-grid-column>
    <kendo-grid-column field="middleName" title="Middle Name">
    </kendo-grid-column>
    <kendo-grid-column field="lastName" title="Last Name" width="230">
    </kendo-grid-column>
    <!--<kendo-grid-column field="contactNumber1" title="Contact Number" width="120">
        <template kendoCellTemplate let-dataItem>
            <label>{{dataItem.contactNumber1}}</label>
            <label>{{dataItem.contactNumber2}}</label>
            <label>{{dataItem.contactNumber3}}</label>
        </template>
    </kendo-grid-column>-->
</kendo-grid>