<kendo-grid [data]="residentList">
    <kendo-grid-column title="Actions" width="230">
        <template kendoCellTemplate let-dataItem>
            <a routerLink="['/resident/update', dataItem.id]" routerLinkActive="active">
                <i class="fa fa-pencil"></i>
            </a>
        </template>
    </kendo-grid-column>
    <kendo-grid-column field="fullName" title="Full Name" width="250">
    </kendo-grid-column>
    <kendo-grid-column field="mainContact" title="Main Contact" width="150">
    </kendo-grid-column>
    <kendo-grid-column field="onRent" title="Is Staying On Rent" width="230">
        <template kendoCellTemplate let-dataItem>
            <label>{{dataItem.onRent === true ? "Yes" : "No"}}</label>
        </template>
    </kendo-grid-column>
    <!--<kendo-grid-column field="contactNumber1" title="Contact Number" width="120">
        <template kendoCellTemplate let-dataItem>
            <label>{{dataItem.contactNumber1}}</label>
            <label>{{dataItem.contactNumber2}}</label>
            <label>{{dataItem.contactNumber3}}</label>
        </template>
    </kendo-grid-column>-->
</kendo-grid>